       

.teste {
  color :violet ;
}

.texto-legal {
   color : green
}
.texto-daora {
  color : blue
}
.texto-sentimental {
  color : gold
}
.texto-estranho {
  color: blueviolet
}
.texto-infinito {
   color: red
}